server: https://10.0.1.180:9345
token-file: /etc/rancher/rke2/token-secret

cni: calico
cluster-cidr: 192.168.0.0/16
service-cidr: 10.43.0.0/16

kube-proxy-arg:
  - --proxy-mode=ipvs
  - --ipvs-scheduler=rr

tls-san:
  - k8s.xxxxxxx.com
  - 10.0.1.180  # IP privada del balanceador

node-taint:
  - "CriticalAddonsOnly=true:NoExecute"

kube-apiserver-arg:
  - --audit-policy-file=/etc/rancher/rke2/audit-policy.yaml
